<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.wikav.voulu">

    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.CALL_PHONE" />

    <supports-screens
        android:resizeable="true"
        android:smallScreens="true"
        android:normalScreens="true"
        android:largeScreens="true"
        android:xlargeScreens="true"
        android:anyDensity="true"/>

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        tools:ignore="GoogleAppIndexingWarning">

        <activity android:name="com.wikav.voulu.AcceptedActivity" />
        <activity android:name="com.wikav.voulu.AcceptedListActivity">
        </activity>
        <activity android:name="com.wikav.voulu.AboutUs" />
        <activity android:name="com.wikav.voulu.YourPost" />
        <activity android:name="com.wikav.voulu.EditProfile" />
        <activity android:name="com.wikav.voulu.JobConfirmActivity"
            android:windowSoftInputMode="stateAlwaysHidden" />
        <activity android:name="com.wikav.voulu.Wallet" />
        <activity android:name="com.wikav.voulu.JobConfirm" />
        <activity android:name="com.wikav.voulu.OTP" />
        <activity android:name="com.wikav.voulu.NewOTP" />
        <activity android:name="com.wikav.voulu.UserMobileNumber" />
        <activity
            android:name="com.wikav.voulu.ScrollingActivityHome"
            android:label="@string/title_activity_scrolling_home"
            />
        <activity android:name="com.wikav.voulu.JobDiscription" />
        <activity android:name="com.wikav.voulu.NotificationManager"></activity>
        <activity android:name="com.wikav.voulu.CommentedActivity" />
        <activity android:name="com.wikav.voulu.UploadYourPost" />
        <activity android:name="com.wikav.voulu.JobDiscriptionForNotification" />
        <activity
            android:name="com.wikav.voulu.NavigationDrawerActivity_"
            android:label="@string/title_activity_navigation_drawer_"
           />
        <activity
            android:name="com.wikav.voulu.Home"
            android:label="@string/title_activity_home"
            android:windowSoftInputMode="adjustNothing" >
            <intent-filter>
            <action android:name="startup.abhishek.spleshscreen.accepetFromNotification" />

            <category android:name="android.intent.category.DEFAULT" />
        </intent-filter></activity>
        <activity
            android:name="com.theartofdev.edmodo.cropper.CropImageActivity"
            android:theme="@style/Base.Theme.AppCompat" />
        <activity android:name="com.wikav.voulu.Login" />
        <activity android:name="com.wikav.voulu.Registration"></activity>
        <activity android:name="com.wikav.voulu.SpleshScreen">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <meta-data
            android:name="com.google.firebase.messaging.default_notification_channel_id"
            android:value="@string/default_notification_channel_id" />

        <service android:name="com.wikav.voulu.MyFirebaseMessagingService">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT" />
            </intent-filter>
        </service>

        <receiver
            android:name="com.wikav.voulu.ConnectivityReceivers"
            android:enabled="true">
            <intent-filter>
                <action android:name = "android.net.conn.CONNECTIVITY_ACTION" />
                <action android:name = "android.net.wifi.WIFI_STATE_CHANGED" />
            </intent-filter>
        </receiver>
    </application>

</manifest>