<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.wikav.schoolian">

    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.CALL_PHONE" /> <!-- ok tanatan -->
    <supports-screens
        android:anyDensity="true"
        android:largeScreens="true"
        android:normalScreens="true"
        android:resizeable="true"
        android:smallScreens="true"
        android:xlargeScreens="true" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        tools:ignore="GoogleAppIndexingWarning">
        <activity android:name=".AttendanceLayout">

        </activity>
        <activity android:name=".Events_Holidays">

        </activity>
        <activity android:name=".AnimeActivity" />
        <activity android:name=".SchoolIDopt" />

        <meta-data
            android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version" />

        <activity android:name=".AcceptedActivity" />
        <activity android:name=".AcceptedListActivity" />
        <activity android:name=".AboutUs" />
        <activity android:name=".YourPost" />
        <activity android:name=".EditProfile" />
        <activity android:name=".OTP" />
        <activity android:name=".NewOTP" />
        <activity android:name=".UserMobileNumber" />
        <activity
            android:name=".ScrollingActivityHome"
            android:label="@string/title_activity_scrolling_home" />
        <activity android:name=".JobDiscription" />
        <activity android:name=".NotificationManager" />
        <activity android:name=".CommentedActivity" />
        <activity
            android:name=".NavigationDrawerActivity_"
            android:label="@string/title_activity_navigation_drawer_" />
        <activity
            android:name=".Home"
            android:label="@string/title_activity_home"
            android:windowSoftInputMode="adjustNothing">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.theartofdev.edmodo.cropper.CropImageActivity"
            android:theme="@style/Base.Theme.AppCompat" />
        <activity android:name=".Login" />
        <activity android:name=".Registration" />
        <activity android:name=".SpleshScreen">

        </activity>
        <activity android:name=".Results">

        </activity>

        <meta-data
            android:name="com.google.firebase.messaging.default_notification_channel_id"
            android:value="@string/default_notification_channel_id" />

        <service android:name=".MyFirebaseMessagingService">
            <intent-filter>
                <action android:name="com.firebase.jobdispatcher.ACTION_EXECUTE" />
                <action android:name="com.google.firebase.MESSAGING_EVENT" />
            </intent-filter>
        </service>
        <service
            android:name=".JobSchedulerService"
            android:permission="android.permission.BIND_JOB_SERVICE" />
        <service android:name=".MyService">
            <intent-filter>
                <action android:name="com.firebase.jobdispatcher.ACTION_EXECUTE" />
            </intent-filter>
        </service>
    </application>

</manifest>